@import url('https://fonts.googleapis.com/css?family=Muli:200,400,700');


.projectform{
    display: flex;
    flex-direction: column;
    }

    .projectform__row {
     
      display: flex;
      flex: 1 1 auto;

    }

    .projectform label {
      font-weight: 700;
      padding-bottom: 0.5em;
      justify-content: left;
    }

    .projectform__row > div{
      display: flex;
      flex-direction: column;
      justify-content:center;
      font-weight: 700;
      margin: 0.5em 0.3em;
      flex: 1 1 auto;
    }
    
    .info__user{
      padding-bottom:0.5em;
      font-weight: 500;
      font-size: small;
      color: blue;
      display:flex;
      width: 100%;

    }


  .projectform select{
    padding: 0.5em;  
    border: 1 px skyblue;
    box-sizing: border-box;
    display: inline-block;
    outline:none;
    justify-content: center;
    justify-items: center;
    }

    
    projectform input [type="budjetti"]{
     
      display: flexbox;
    
    }
    
    .projectform__row input [type="date"]::-webkit-clear-button{
      display: none;
    }
    .projectform__row input[type="date"]::-webkit-inner-spin-button {
      display: none;
  }
