.header {
    background-color: rgb(68, 162, 240);
    display: flex;
    padding: 0.5em;
    max-height: 2em;
    min-height: 2em;
    color: rgb(34, 27, 27);
  }
  
  .header h1 {
    font-size: 1.2em;
  }

