.header {
  display: flex;
  justify-content: left;
  padding: 1em;
  max-height: 6em;
  min-height: 6em;
}

.img {
  object-fit:contain;
  justify-content: right;
  display: flex;
}
 
  

  .header h1 {
    font-size: 1.2em;
  }

