@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,700');

* {
  margin: 0.5;
  padding: 0;
  display: flexbox;
}

.App {
  max-width: 30em;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  transform: translateZ(0); 
}

.App > * {
  flex: 1 1 auto;
}

.Nappi{
  color: rgb(8, 27, 2);
  background-color: greenyellow;
  box-shadow: rgba(166, 233, 33, 0.883) 0px 4px 4px;
  font-weight: bold;
  display: contents;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}

.app_welcome {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5em;
}

