@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,700');

* {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 30em;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

.App > * {
  flex: 1 1 auto;
}

.Nappi{
  float: inline-start; 
  color: #000;
  border: none;
  outline: none;
  box-shadow: rgba(0,0,0,0.5) 0px 4px 4px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
